.Sandbox {
    border: 1px solid var(--color-border);
    background-color: var(--color-bg-light);
    background-image: radial-gradient(circle, var(--color-border) 1%, transparent 10%), radial-gradient(circle, var(--color-border) 1%, transparent 10%);
    background-size: 10px 10px;
    background-position: 0 0, 0 0;
    position: relative;
}

.Sandbox_content {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 200px;
    position: relative;
    padding: 40px;
}

.Sandbox_configurator {
    border-top: 1px solid var(--color-border);
    background-color: var(--color-bg-light);
    padding: 10px;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    z-index: 10;
    bottom: 0;
    left: 0;
    width: 100%;
    transform: translateY(100%);
    background-color: var(--color-bg-light);
    border: 1px solid var(--color-border);
    width: 300px;
}

.Sandbox_toggle {
    position: absolute;
    line-height: 1;
    bottom: 10px;
    left: 10px;
}

/* STATES */

.Sandbox.is-active {
    
    .Sandbox_configurator {
        opacity: 1;
        pointer-events: all;
    }
}