.DefaultLayout_body {
    display: flex;
    align-items: flex-start;
    max-width: 1000px;
    width: 90%;
    margin: 100px auto 0;
}

.DefaultLayout_nav {
    width: 300px;
}

.DefaultLayout_content {
    flex-grow: 1;
}