.LayoutDefault_body {
    display: flex;
    min-height: 100vh;
}

.LayoutDefault_nav {
    width: 20%;
    max-width: 250px;
    height: calc(100vh - 40px);
    margin: 20px 0;
    padding: 20px 0;
    border-right: 1px solid var(--color-border);
    display: flex;
    justify-content: center;
    flex-shrink: 0;
    position: sticky;
    top: 20px;
}

.LayoutDefault_navContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.LayoutDefault_content {
    flex-grow: 1;
    padding: 0 8vw;
    overflow: hidden;
}

.LayoutDefault_navLogo {
    width: 40px;
    align-self: center;
}

.LayoutDefault_navItem {
    display: block;
    margin: 1px 0;
    padding: 5px 10px;
    border-radius: 4px;
    min-width: 180px;

    &.is-active {
        pointer-events: none;
        font-weight: bold;
        background-color: var(--color-bg-xweak);
    }

    &:hover {
        color: var(--color-ft-strong);
        background-color: var(--color-bg-xweak);
    }
}

.LayoutDefault_navFooter {
    font: var(--ft-s-medium);
    align-self: center;
}