.ButtonBase {
    display: flex;
    font: var(--ft-m-medium);
    line-height: 1;
    color: var(--color-ft-light);
    background-color: var(--color-primary);
    padding: 15px 12px;
    text-align: center;
    cursor: pointer;
}

.ButtonBase_content {
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    white-space: nowrap;
}